.hello {
  color: red;
  background: url('../assets/images/brand-icons/app/box-dark-1080x1080.png');
  font-family: Inter, sans-serif;
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/inter/Inter-Regular.ttf);
}